<div class="modal" tabindex="-1" role="dialog" id="modal-change-profile">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Изменить</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% for contest_system in current_user.pupil.available_contest_systems() %}
                <form id="contest-system" onsubmit="return change_id_in_contest_system_form_submit()" contest-system-id="{{contest_system.contest_system.id}}">
                        <div class="form-group" id="contest-system-to-pupil">
                            <label for="id">{{contest_system.contest_system.name}}</label>
                            <input type="text" class="form-control" id="id"
                                   placeholder="ID на сайте" required>

                            <span id="success" class="text-success"></span>
                            <span id="error" class="text-danger"></span>
                        </div>
                        <div class="form-group d-flex justify-content-end">
                            <input type="submit" class="btn btn-primary" value="Сохранить">
                        </div>
                </form>
                {% endfor %}
                <form id="change-email" onsubmit="return change_email()">
                    <div class="form-group">
                        <label for="inputEmail">Почта</label>
                        <input type="email" class="form-control" id="inputEmail" placeholder="Почта" value="{{current_user.email}}" required>
                        <span id="error" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <input class="btn btn-primary" type="submit" value="Сохранить">
                    </div>
                </form>
                <form id="change-password" onsubmit="return change_password()">
                    <div class="form-group" id="password">
                        <label for="inputPassword">Пароль</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Пароль" required>
                        <span id="error" class="text-danger"></span>
                    </div>
                    <div class="form-group" id="passwordRepeat">
                        <label for="inputRepeatPassword">Повторите пароль</label>
                        <input type="password" class="form-control" id="inputRepeatPassword" placeholder="Повторите пароль" required>
                        <span id="error" class="text-danger"></span>
                    </div>
                    <div class="form-group d-flex justify-content-end">
                        <input class="btn btn-primary" type="submit" value="Сохранить">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='js/pupil/modal-change-profile.js', version=STATIC_FILES_VERSION) }}"></script>