{% extends "base.html" %}
{% block title %}Курсы{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">

<!--<link href="{{url_for('static', filename='vendor/datatables.select/select.dataTables.min.css')}}" rel="stylesheet">-->
<link href="{{url_for('static', filename='vendor/datatables.select/select.bootstrap4.css')}}" rel="stylesheet">

<link href="{{url_for('static', filename='vendor/datatables.buttons/css/buttons.bootstrap4.min.css')}}" rel="stylesheet">

<link href="{{url_for('static', filename='vendor/select2/css/select2.min.css')}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/select2/css/select2-bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='vendor/select2/js/select2.min.js') }}"></script>

<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

<script src="{{ url_for('static', filename='vendor/datatables.select/dataTables.select.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.select/select.bootstrap4.js') }}"></script>

<!-- Кнопки DataTable-->
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/dataTables.buttons.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.bootstrap4.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.colVis.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.flash.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.html5.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.print.min.js') }}"></script>



<!--DataTableEditorFree-->
<script src="{{ url_for('static', filename='vendor/datatables.altEditor.free/dataTables.altEditor.free.js') }}"></script>

<!--JS код для этой страницы-->
<script>
    groups_dict = {{groups_dict|tojson}};
    teachers_dict = {{teachers_dict|tojson}}
</script>

<script src="{{ url_for('static', filename='js/admin/courses-tables.js', version=STATIC_FILES_VERSION) }}"></script>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Курсы</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
