{% extends "base.html" %}
{% block title %}Группы{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">

<!--<link href="{{url_for('static', filename='vendor/datatables.select/select.dataTables.min.css')}}" rel="stylesheet">-->
<link href="{{url_for('static', filename='vendor/datatables.select/select.bootstrap4.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">

<link href="{{url_for('static', filename='vendor/datatables.buttons/css/buttons.bootstrap4.min.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">

<link href="{{url_for('static', filename='vendor/datatables.select/select.bootstrap4.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/select2/css/select2.min.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">
<link href="{{url_for('static', filename='vendor/select2/css/select2-bootstrap4.min.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='vendor/datatables/jquery.dataTables.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables/dataTables.bootstrap4.min.js', version=STATIC_FILES_VERSION) }}"></script>

<script src="{{ url_for('static', filename='vendor/datatables.select/dataTables.select.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.select/select.bootstrap4.js', version=STATIC_FILES_VERSION) }}"></script>

<script src="{{ url_for('static', filename='vendor/select2/js/select2.min.js', version=STATIC_FILES_VERSION) }}"></script>


<!-- Кнопки DataTable-->
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/dataTables.buttons.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.bootstrap4.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.colVis.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.flash.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.html5.min.js', version=STATIC_FILES_VERSION) }}"></script>
<script src="{{ url_for('static', filename='vendor/datatables.buttons/js/buttons.print.min.js', version=STATIC_FILES_VERSION) }}"></script>

<!--DataTableEditorFree-->
<script src="{{ url_for('static', filename='vendor/datatables.altEditor.free/dataTables.altEditor.free.js', version=STATIC_FILES_VERSION) }}"></script>

<!--JS код для этой страницы-->
<script>
const teachers_dict = {{teachers_dict | tojson}};
const subjects_dict = {{subjects_dict | tojson}};
const courses_dict = {{courses_dict | tojson}};
</script>

<script src="{{ url_for('static', filename='js/admin/groups-table.js', version=STATIC_FILES_VERSION) }}"></script>
{% endblock %}

{% block content %}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Группы</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
