{% extends "base.html" %}
{% block title %}{{group.name}}{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='css/lessons_available.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}
<h1 class="font-weight-bold mb-3 px-5">Уроки</h1>
<ul class="d-flex flex-column px-5 w-75">
    {% for lesson in lessons%}
    <li class="card shadow mb-4 lesson-card">
        {% if current_user.is_teacher %}
            {% set lesson_url= '/teacher/groups/' + group.id|string + '/lessons/' + lesson.id|string %}
        {% else %}
            {% set lesson_url= '/pupil/groups/' + group.id|string + '/lessons/' + lesson.id|string %}
        {% endif %}
        <a href="{{lesson_url}}">
            <div class="card-body">
                <div class="row mb-1">
                    <h4 class="m-0 font-weight-bold col-sm-8">{{lesson.name}}</h4>
                    <div class="col-sm-4">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8"></div>
                    <h6 class="font-weight-bold col-sm-4">Выполнено: </h6>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}