{% extends "base.html" %}
{% block title %}{{lesson.name}}{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='css/lesson_page.css', version=1)}}" rel="stylesheet">
{% endblock %}

{% block javascript %}

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>

<script>
lesson = {{lesson.to_dict()|tojson}};
group_id = {{group_id}};

</script>

{% if current_user.is_teacher %}
<script src="{{ url_for('static', filename='js/teacher/lesson_page.js', version=1) }}"></script>
{% else %}
<script src="{{ url_for('static', filename='js/pupil/lesson_page.js',version=1) }}"></script>
{% endif %}

{% endblock %}

{% block content %}
<div class="px-5">
    <h1 class="font-weight-bold mb-3">{{lesson.name}}</h1>
    {% if current_user.is_teacher %}
    <div class="lesson_available_switcher" id="lesson_available_switcher"
         onclick="set_lesson_available({{lesson.id}}, {{(not is_lesson_available)|lower}})">
        {% if not is_lesson_available %}
        <h5 class="my-3"><span class="fas fa-eye"></span> Показать урок</h5>
        {% else %}
        <h5 class="my-3"><span class="fas fa-eye-slash"></span> Скрыть урок</h5>
        {% endif %}
    </div>
    {% endif %}
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header py-3">
                    <h3 class="m-0 font-weight-bold text-primary">Задачи</h3>
                </div>
                <div class="task card-body px-0 pb-0">
                    {% for task in lesson.tasks %}
                    <div class="card" id="{{loop.index0}}">
                        <div class="card-header py-3 d-flex justify-content-between" onclick="task_results({{loop.index0}})">
                            <h5 class="m-0 font-weight-bold text-secondary">{{task.name}}</h5>
                            <span id="arrow" class="fa fa-angle-{{'down' if current_user.is_teacher else 'left'}} fa-lg"></span>
                        </div>
                        <div class="card-body" hidden {{'selected' if current_user.is_pupil else ''}}>
                            {% if not current_user.is_pupil %}
                            <div class="waiting-check-pupils task-results">
                                <h4>Ждут проверки</h4>
                                <ul class="list-group"></ul>
                            </div>
                            <div class="my-4 success-passed-pupils task-results">
                                <h4>Засчитано</h4>
                                <ul class="list-group"></ul>
                            </div>
                            <div class="my-4 failed-pupils task-results">
                                <h4>Не засчитано</h4>
                                <ul class="list-group"></ul>
                            </div>
                            <div class="not-passed-pupils task-results">
                                <h4>Не сдали</h4>
                                <ul class="list-group"></ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col selected_task" hidden>
            <div class="card shadow">
                <div class="card-header"><h3 id="taskName" class="m-0 font-weight-bold text-info"></h3>
                </div>
                <div class="card-body">
                    <h4>Описание</h4>
                    <p class="my-2" id="taskDescription"></p>
                    <h4>Примеры: </h4>
                    <table border="1" class="w-100">
                        <thead>
                        <th class="w-50">Входные данные</th>
                        <th class="w-50">Выходные данные</th>
                        </thead>
                        <tbody id="dataExamples">
                        <tr class="rowExample">
                            <td class="p-0 dataIn"></td>
                            <td class="p-0 dataOut"></td>
                        </tr>
                        </tbody>
                    </table>
                    {% if current_user.is_pupil %}
                    <button class="btn btn-success mt-3">Решить</button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}