<hr class="sidebar-divider">

<div class="sidebar-heading">
    Учитель
</div>

<li class="nav-item">
    <a class="nav-link" href="/teacher/groups">
        <i class="fas fa-fw"></i>
        <span>Группы</span>
    </a>
</li>

<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCourses" aria-expanded="false"
       aria-controls="collapseCourses">
        <i class="fas fa-fw"></i>
        <span>Категории</span>
    </a>
    <div id="collapseCourses" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar" style="">
        <div class="bg-white py-2 collapse-inner rounded">
            {% for course in current_user.teacher.courses %}
                <a class="collapse-item" href="/teacher/course/{{course.id}}">{{course.name}}</a>
            {% endfor %}
            <hr>
            <button class="btn collapse-item" data-toggle="modal" data-target="#add_course">Добавить</button>
        </div>
    </div>
</li>