{% extends "base.html" %}
{% block title %}{{group.name}}{% endblock %}

{% block style %}
<link href="{{url_for('static', filename='css/lessons_available.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/teacher/lessons_for_group.js', version=STATIC_FILES_VERSION) }}"></script>
<script>
    const groupId = {{group.id}}
</script>
{% endblock %}

{% block content %}
{% if current_user.is_teacher %}
<div class="px-5" id="groupInviteBlock">
    <div>
        <div class="row">
        <div class="col-sm-3">
            <label for="urlInvite">Приглашение в группу</label>
        </div>
    </div>
        <div class="row">
            <div class="col-sm-3">
                <input type="text" id="urlInvite" class="form-control" value="{{group.invite_code}}" readonly>
            </div>
            <div class="col-sm-6 btn-group">
                <button class="btn btn-primary" onclick="copyInvite()">Скопировать приглашение</button>
                <button class="btn btn-info" onclick="generateNewInvite()">Сгенерировать новое</button>
            </div>
        </div>
    </div>
    <div class="pt-3" id="alertsBlock"></div>
</div>
{% endif %}
<h1 class="font-weight-bold my-3 px-5">Уроки</h1>
<ul class="d-flex flex-column px-5 w-75">
    {% for lesson in lessons%}
    <li class="card shadow mb-4 lesson-card">
        {% if current_user.is_teacher %}
            {% set lesson_url= '/teacher/groups/' + group.id|string + '/lessons/' + lesson.id|string %}
        {% else %}
            {% set lesson_url= '/pupil/groups/' + group.id|string + '/lessons/' + lesson.id|string %}
        {% endif %}
        <a href="{{lesson_url}}">
            <div class="card-body">
                {% if current_user.is_pupil %}
                    {% set done_count = lessons_solve_status.get(lesson.id, 0) %}
                    {% set done_from_count = count_tasks_in_lesson.get(lesson.id, 1) %}
                    {% set progress_bar_solved_tasks = done_count / done_from_count * 100 %}
                {% else %}
                    {% set done_count, done_from_count = progress_solved_tasks_by_pupils[lesson.id] %}
                    {% set progress_bar_solved_tasks = done_count / done_from_count * 100 %}
                {% endif %}
                <div class="row mb-1">
                    <h4 class="m-0 font-weight-bold col-sm-8">{{lesson.name}}</h4>
                    <div class="col-sm-4">
                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: {{progress_bar_solved_tasks}}%"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-8"></div>
                    <h6 class="font-weight-bold col-sm-4">Выполнено: {{done_count}} из {{done_from_count}}</h6>
                </div>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}