{% extends "base.html" %}
{% block title %}{{task.name}}{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{url_for('static', filename='vendor/codemirror/lib/codemirror.css')}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/codemirror/theme/neat.css')}}">
<link href="{{url_for('static', filename='css/lessons_available.css')}}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>

<script src="{{url_for('static', filename='vendor/codemirror/lib/codemirror.js')}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/python/python.js')}}"></script>
<!--<script src="{{url_for('static', filename='vendor/codemirror/mode/clike/clike.js')}}"></script>-->

<script>
const pupil_id = {{pupil_id}};
const task_id = {{task.id}};
const group_id = {{group_id}};
const is_teacher = {{ ('true' if current_user.is_teacher else 'false')|safe}};


</script>

<script src="{{url_for('static', filename='js/task_solution.js', version=2)}}"></script>

{% if current_user.is_pupil %}
    <script src="{{url_for('static', filename='js/pupil/task_solution.js', version=1)}}"></script>
{% else %}
    <script src="{{url_for('static', filename='js/teacher/task_solution.js', version=1)}}"></script>
{% endif %}

{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header"><h3 id="taskName" class="m-0 font-weight-bold text-info">{{task.name}}</h3>
    </div>
    <div class="card-body">
        <div>
            <div>
                <div>
                    <h4>Описание</h4>
                    <p class="my-2" id="taskDescription">{{task.description|safe}}</p>
                </div>
                <div class="my-4">
                    <h4>Примеры: </h4>
                    <table border="1" class="w-100">
                        <thead>
                        <tr>
                            <th class="w-50">Входные данные</th>
                            <th class="w-50">Выходные данные</th>
                        </tr>
                        </thead>
                        <tbody id="dataExamples">
                        <tr class="rowExample">
                            <td class="p-0 dataIn">{{task.in_data}}</td>
                            <td class="p-0 dataOut">{{task.out_data}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row mt-4">
                    <div class="col-6">
                        <h4>Решение</h4>
                        <div class="mr-2 mt-2" id="codeMirror"></div>

                        {% if current_user.is_teacher %}
                        <h4 class="my-4">Отправил: {{pupil_full_name}}</h4>
                        {% endif %}

                        {% if current_user.is_pupil %}
                        <button id="sendSolution" class="btn btn-primary my-3" onclick="send_solution()">Отправить
                        </button>
                        {% else %}
                        <div>
                            <button id="acceptSolution" class="btn btn-success my-3" onclick="acceptSolution()" disabled>Принять</button>
                            <button id="declineSolution" class="btn btn-danger my-3" onclick="declineSolution()" disabled>Отклонить</button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="col-6">
                        <h4>История решений</h4>
                        <div class="table-responsive table-bordered solutions-history">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">Попытка</th>
                                    <th scope="col">Дата</th>
                                    <th scope="col">Статус</th>
                                </tr>
                                </thead>
                                <tbody id="solutions">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}