{% extends "base.html" %}
{% block title %}{{task.name}}{% endblock %}

{% block style %}

{#
<link rel="stylesheet" href="{{url_for('static', filename='vendor/codemirror/lib/codemirror.css', version=STATIC_FILES_VERSION)}}">
<link rel="stylesheet" href="{{url_for('static', filename='vendor/codemirror/theme/neat.css', version=STATIC_FILES_VERSION)}}">
#}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/codemirror.min.css" integrity="sha512-MWdvo/Qqcf4pY1ecQUB1uBn0qLp19U/qJ1Rpp2BDZeuBA7YsFEwkvqR/+aG4BroPiAYDunKJ6X8R/Pmdt3p7oA==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/theme/neat.min.css" integrity="sha512-yySSMHK1wb+xdn5GRRSXY6KQMMMyBS4jGB5bKms2Gu2U9mGQnk4zUavraMI/Cc0h19kYNPlQYkqK6pVXM4O56Q==" crossorigin="anonymous" />

<link href="{{url_for('static', filename='css/lessons_available.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">
<link href="{{url_for('static', filename='css/lesson_page.css', version=STATIC_FILES_VERSION)}}" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>

{#
<script src="{{url_for('static', filename='vendor/codemirror/lib/codemirror.js', version=STATIC_FILES_VERSION)}}"></script>
<script src="{{url_for('static', filename='vendor/codemirror/mode/python/python.js', version=STATIC_FILES_VERSION)}}"></script>
#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/codemirror.min.js" integrity="sha512-UZAFKlbB343VyEfCComsVIxp836iYUvHyAuRYFoVN4LTNB6mpM+8EgKW8ymIV2qLZQsIiNdbpmJuA8y6IKzOow==" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/mode/{{task.language_cdn_src}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/addon/edit/matchbrackets.min.js" integrity="sha512-rjbQerijlYZoHtP8XJGb7xkwnSRUHiydD8NE9fpe01feRM5RDZSZ9Tia+a9hV2cFHMilO4hZaeeTc9ESiik9wQ==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.59.2/addon/edit/closebrackets.min.js" integrity="sha512-+xi2SgGCBFIGog8JZv+X1dte+mhaJ6i73ZV2icqQk+onxz+ZkrSgtXdNfvqX2YYzwMsGAqpcjyIxvC9ytAXXPw==" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='js/utils/timer.js', version=STATIC_FILES_VERSION) }}"></script>
<!--<script src="{{url_for('static', filename='vendor/codemirror/mode/clike/clike.js')}}"></script>-->

<script>
const language_mime_type = {{ task.language_mime_type|tojson }}
const pupil_id = {{pupil_id}}
const task_id = {{task.id}}
const group_id = {{group_id}}
const is_teacher = {{ ('true' if current_user.is_teacher else 'false')|safe}}
const is_pupil = {{ ('true' if current_user.is_pupil else 'false')|safe}}

{% set lesson_deadline = (lesson_available.deadline.timestamp() + 3600 * 6) * 1000 if lesson_available.deadline else None %}
var deadline = {{lesson_deadline|tojson}}


</script>

<script src="{{url_for('static', filename='js/task_solution.js', version=STATIC_FILES_VERSION)}}"></script>

{% if current_user.is_pupil %}
<script src="{{url_for('static', filename='js/pupil/task_solution.js', version=STATIC_FILES_VERSION)}}"></script>
{% else %}
<script src="{{url_for('static', filename='js/teacher/task_solution.js', version=STATIC_FILES_VERSION)}}"></script>
{% endif %}

{% endblock %}

{% block content %}
<div class="card shadow">
    <div class="card-header"><h3 id="taskName" class="m-0 font-weight-bold text-info">{{task.name}}</h3>
    </div>
    <div class="card-body">
        <div>
            <div>
                <div>
                    <h4>Ограничения</h4>
                    <h6>Память: <span id="memoryLimit">{{task.memory_mb}}</span> мегабайт</h6>
                    <h6>Время: <span id="timeLimit">{{task.time_sec}}</span> секунд</h6>
                </div>

                <div>
                    <h4>Описание</h4>
                    <p class="my-2" id="taskDescription">{{task.description|safe}}</p>
                </div>

                <div id="SolutionOnTask" hidden>
                    <h4>Решение задачи</h4>
                    <p class="my-2"></p>
                </div>

                <div class="my-4">
                    <h4>Примеры: </h4>
                    <table border="1" class="w-100">
                        <thead>
                        <tr>
                            <th class="w-50">Входные данные</th>
                            <th class="w-50">Выходные данные</th>
                        </tr>
                        </thead>
                        <tbody id="dataExamples">
                        {% for example in task.examples %}
                        <tr class="rowExample">
                            <td class="dataIn">{{example['in_data']}}</td>
                            <td class="dataOut">{{example['out_data']}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-6">
                    <h4>Решение</h4>
                    <div class="mr-2 mt-2" id="codeMirror"></div>


                </div>
                <div class="col-6">
                    <h4>История решений</h4>
                    <div class="table-responsive table-bordered solutions-history">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th scope="col">Попытка</th>
                                <th scope="col">Дата</th>
                                <th scope="col">Статус</th>
                            </tr>
                            </thead>
                            <tbody id="solutions">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div>
                {% if current_user.is_teacher %}
                <h4 class="my-4">Отправил: {{pupil_full_name}}</h4>
                {% endif %}
                <div>
                    <span>Осталось попыток: <span id="tries-left"></span></span>
                </div>
                {% if lesson_available.deadline %}
                <div>
                    <span class="text-danger">Осталось времени на решение задач: <span
                            id="lesson_deadline"></span></span>
                </div>
                {% endif %}
            </div>
            <div>
                {% if current_user.is_pupil %}
                <button id="sendSolution" class="btn btn-primary" onclick="send_solution()">Отправить</button>
                {% else %}
                <div>
                    <button id="acceptSolution" class="btn btn-success my-3" onclick="acceptSolution()" disabled>
                        Принять
                    </button>
                    <button id="declineSolution" class="btn btn-danger my-3" onclick="declineSolution()" disabled>
                        Отклонить
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="solutionInfo" tabindex="-1" role="dialog"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Информация о решении</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-solution-info">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}